.custom-colum-width {
  --nav-width: 20%;
  --song-dec-width: 20%;
  --content-with: calc(100% - var(--nav-width) - var(--song-dec-width));
  grid-template-columns: max(var(--nav-width), 320px) var(--content-with) var(
      --song-dec-width
    );
}

.library-list::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.library-list:hover::-webkit-scrollbar-thumb {
  background-color: rgb(156 163 175 / 1);
}
